*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.profile{
    width: 100%;
    float: left;
    color: rgb(3, 70, 3);
    background-image: url("https://github.com/calonagnia/aboutrizky2/blob/main/images/wallpaperflare.com_wallpaper.jpg?raw=true");
    background-size: cover;
}
.wrapper_profile_box{
    background-color: rgba(127, 255, 212, 0.7);
    padding: 30px 20px 20px 20px;
    float: left;
    width: 100%;
}

.center{
    margin: 0 auto;
    padding-left: 27%;
    padding-right: 27%;
    width: 100%;
    float: left;
}

.foto_name_profile{
    width: 100%;
    float: left;
    padding: 15px;
    background-color: rgba(0, 255,255, 0.3);
    border-radius: 10px;
}
.profile img{
    height: 160px;
    width: 160px;
    border-radius: 100%;
    float: left;

}
.profile h1{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    float: left;
}

.detail_profile{
    float: left;
    text-align: center;
    width: 100%;
}

.detail_profile h4, p{
    text-align: center;
}

.detail_profile h4{
    margin-block-end: 2px;
}

.detail_profile p{
    margin-block-start: 2px;
}

.flexible_list{
    display:flex;
    padding: 0px;
}

.flexible_list li{
    flex: auto;
    list-style: none;
    padding: 30px;
}

.flexible_list img{
    width: 100%;
    padding: 10%;
    border-radius: 5%;
    background-color:aquamarine;
}

.flexible_list p{
    font-weight: bold;
    text-align: center;
}
.hobbies, .educations{
    width: 100%;
    background-color: rgba(127, 255, 212, 0.7);
    margin-top: 5px;
    float: left;
}

.skills_and_experience, .courses{
    width: 100%;
    background-color: aquamarine;
    margin-top: 5px;
    float: left;
}

.hobbies h3{
    text-align: center; 
    background-color: aquamarine;
    padding: 20px;
    margin: 0px;
}
.hobby{
    float: left;
    padding: 5%;
    width: 25%;
    
}
.hobby p{
    font-weight: bold;
    text-align: center;
}

.hobby span{
    text-align: center;
}
.hobby img{
    width: 100%;
    padding: 10%;
    border-radius: 5%;
    background-color:aquamarine;
}
.skills{
    float: left;
    width: 50%;
    background-color: aquamarine;
    border-right: darkgreen;
    border-style: none solid none none;
    padding: 20px;
}
.experiences{
    float: left;
    width: 50%;
    background-color: aquamarine;
    padding: 20px;
    
}



.skills h3{
    float: left;
    width: 100%;
    text-align: right;
    background-color: aquamarine;
    padding: 20px 0px 20px 20px;
    margin: 0px;
}

.skill{
    float: left;
}

.skill h4{
    float: right;
    text-align: right;
    margin: 10px;
    width: 70%;
}
.skill p{
    float: right;
    text-align: right;
    margin: 0;
}

.skill span{
    float:left;
    text-align: right;
}

.skilldesc{
    float: right;
    width: 70%;
}

.skills img{
    float:right;
    width: 50px;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 20px;
}

.experiences h3{
    float: left;
    width: 100%;
    text-align: left;
    background-color: aquamarine;
    padding: 20px 0px 20px 20px;
    margin: 0px;
}
.experiences h4{
    float: left;
    text-align: left;
    margin: 0;
    width: 100%;
}
.experiences p{
    float: left;
    text-align: left;
    width: 100%;
}

.educations{
    padding-bottom: 20px;
}

.educations h3{
    text-align: center;
    background-color: aquamarine;
    margin: 0;
    padding: 15px;
}

.educations h4{
    width: 80%;
    margin: 0px;
}

.education_right h4, .education_right p{
    float: right;
}

.left{
    text-align: left;
    float: left;
}

.right{
    text-align: right;
}
.container{
    margin:20px auto;
    width: 40%;
}

.education_left{
    float: left;
    width: 100%;
    border-color: darkgreen;
    border-style: solid none solid solid;
    padding: 10px;
}

.education_right{
    float: left;
    width: 100%;
    border-color: darkgreen;
    border-style: none solid none none;
    padding: 10px;
}
.courses{
    padding-bottom: 20px;
}

.courses h3{
    text-align: center;
    background-color: rgba(181, 255, 230, 0.904);
    margin: 0;
    padding: 15px;
}

.course{
    width: 50%;
    height: 90px;
    background-color: rgba(181, 255, 230, 0.904);
    float: left;

}
.course h4, .course p{
    margin: 0;
    padding: 10px;
    text-align: left;
}
.footer{
    background-color: rgba(22, 133, 96, 0.61);
    background-image: url(../images/wallpaperflare.com_wallpaper.jpg);
    background-position-y: center;
    height: 120px;
    float: left;
    width: 100%;
    padding: 20px 30px 20px 30px;
    color: whitesmoke;
    margin-top: 5px;
}

.footer ul{
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
}

.listfooter li{
    height: 24px;
    list-style: none;
    margin: 5px;
}

.footer h2{
    float: left;
}
.footer a{
    float: left;
    color: darkblue;
    text-decoration: none;
}

.footer img{
    float: left;
    margin-right: 5px;
}
